<div class="our-srvices-wrapper">
  <div class="our-srvices-heading">
    <h3>我們的服務承諾</h3>
  </div>
  <div class="our-srvices-slider-wrapper">
    <div class="our-srvices-slider-content">
      <div class="our-srvices-left-content">
        <img src="../../assets/images/spec_item.png" />
        <h3>免費試學承諾</h3>
        <p>如不滿意首次購買的課程，可於首個上課日30天內，而且扣減的課節少於或等於6節，申請全數退款，退費政策不適用於月付型客戶。</p>
        <button class="button btn">立即免費試堂</button>
      </div>
      <div class="our-srvices-right-content">
          <h6>01</h6>
          <img src="../../assets/images/slider-img.png">
      </div>
    </div>
  </div>
</div>

<div class="curriculum-systems-wrapper">
  <div class="curriculum-systems-heading">
    <h3>量身定制的<span>「四大課程體系」</span></h3>
  </div>

  <div class="curriculum-systems-content-wrapper curriculum-systems-content1">
    <div class="curriculum-systems-content">
      <div class="curriculum-systems-left-content">
        <span class="count">01</span>
        <h4>精英寫作課程 STRUCTURED WRITING</h4>
        <h6>拓展思維 能說會道</h6>
        <p>適合7-12歲</p>
        <button class="button btn">立即免費試堂</button>
      </div>
      <div class="curriculum-systems-right-content">
        <img src="../../assets/images/logo_1.png" />
      </div>
    </div>
  </div>

  <div class="curriculum-systems-content-wrapper curriculum-systems-content2">
    <div class="curriculum-systems-content">
      <div class="curriculum-systems-left-content">
        <span class="count">02</span>
        <h4>精英寫作課程 STRUCTURED WRITING</h4>
        <h6>拓展思維 能說會道</h6>
        <p>適合7-12歲</p>
        <button class="button btn">立即免費試堂</button>
      </div>
      <div class="curriculum-systems-right-content">
        <img src="../../assets/images/logo_3.png" />
      </div>
    </div>
  </div>

  <div class="curriculum-systems-content-wrapper curriculum-systems-content3">
    <div class="curriculum-systems-content">
      <div class="curriculum-systems-left-content">
        <span class="count">03</span>
        <h4>精英寫作課程 STRUCTURED WRITING</h4>
        <h6>拓展思維 能說會道</h6>
        <p>適合7-12歲</p>
        <button class="button btn">立即免費試堂</button>
      </div>
      <div class="curriculum-systems-right-content">
        <img src="../../assets/images/logo_2.png" />
      </div>
    </div>
  </div>
</div>

<div class="tech-wrapper">
  <div class="tech-wrapper-heading">
    <div>
      <h2>100%專業北美10年以上教學經驗註冊教師</h2>
      <button>立即免費試堂</button>
    </div>
    <p>我們採用100%全部美國、加拿大、英國、澳洲超過10年教學經驗以上的註冊教師</p>
  </div>

  <div class="tech-grid-wrapper">
    <div class="tech-grid-content-wrapper">
      <img src="../../assets/images/card-img.png">
      <div class="tech-grid-content">
        <h5>Callum D</h5>
        <p>University of canada</p>
        <button class="common-btn">View Profile</button>
      </div>
    </div>
    <div class="tech-grid-content-wrapper">
      <img src="../../assets/images/card-img.png">
      <div class="tech-grid-content">
        <h5>Callum D</h5>
        <p>University of canada</p>
        <button class="common-btn">View Profile</button>
      </div>
    </div>
    <div class="tech-grid-content-wrapper">
      <img src="../../assets/images/card-img.png">
      <div class="tech-grid-content">
        <h5>Callum D</h5>
        <p>University of canada</p>
        <button class="common-btn">View Profile</button>
      </div>
    </div>
  </div>
</div>