<div class="frame">
  <div class="bg-image"></div>
  <div class="main-frame">
    <div class="inner-frame">
      <div class="award-section">
        <span class="title-span">榮獲<br /></span>
        <span class="subtitle-span">年度最佳學術教育機構<br /></span>
        <span class="award-name">獎項</span>
      </div>
      <div class="line-divider"></div>
      <span class="award-info">HKOEB Awards 2022年度最佳學術教育機構</span>
    </div>
    <div class="trial-section">
      <span class="trial-label">免費試堂</span>
      <div class="input-container">
        <div class="top-input">
          <div class="input-content">
            <div class="input-group"></div>
          </div>
        </div>
        <div class="bottom-input">
          <div class="input-content">
            <span class="phone-label">手機號碼</span>
          </div>
        </div>
      </div>
      <div class="button-container">
        <span class="button-label">立即免費試堂</span>
      </div>
      <div class="checkbox-section">
        <div class="checkbox-box"><div class="checkmark"></div></div>
        <div class="terms">
          <span>我已經閱讀並同意</span>
          <span>條款與細則</span>
        </div>
      </div>
    </div>
  </div>
</div>
