<div class="component">
  <div class="banner-component">
    <span class="content-message"
      >選擇另一個國家或地區，以獲得適用於閣下所在位置的內容和線上課程選項。</span
    >

    <div class="social-media-icons">
      <div class="facebook-icon">
        <img src="../../assets/icons/fb.svg" alt="" />
      </div>
      <div class="whatsapp-icon">
        <img src="../../assets/icons/mg.svg" alt="" />
      </div>
      <div class="messenger-icon">
        <img src="../../assets/icons/wp.svg" alt="" />
      </div>

      <div class="country-selector">
        <span class="country-name">Hong Kong </span>
        <div class="arrow-icon">
          <img src="../../assets/icons/arrow.svg" alt="" />
        </div>
      </div>
      <div class="go-button"><span class="go-text">Go</span></div>
    </div>
  </div>

  <div class="sub-component">
    <img src="../../assets/images/logo.png" alt="" />
    <div class="frame">
      <div class="page-buttons">
        <span class="button-text">主頁</span>
      </div>
      <div class="page-buttons">
        <span class="button-text-normal">如何上課</span>
      </div>
      <div class="page-buttons">
        <span class="button-text-normal">北美外教</span>
      </div>
      <div class="page-buttons">
        <span class="button-text-normal">課程設計</span>
      </div>
      <div class="page-buttons">
        <span class="button-text-normal">下載中心</span>
      </div>
      <div class="page-buttons">
        <span class="button-text-normal">媒體動態</span>
      </div>
    </div>
    <div class="frame">
      <div class="button"><span class="button-text-white">註冊</span></div>
      <div class="button-white">
        <span class="button-text-green">登入</span>
      </div>
    </div>
  </div>
</div>
