<div class="why-study-at-boxing-english">
  <div class="why-choose-boxing-education">
    <span class="choose-text">為什麼選擇</span
    ><span class="education-name">博星教育</span
    ><span class="question-icon">?</span>
  </div>

  <div class="study-details-frame">
    <div class="detail-item">
      <div class="number">8</div>
      <div class="region">國家/地區</div>
    </div>

    <div class="detail-item">
      <div class="number">173,897</div>
      <div class="region">堂課</div>
    </div>

    <div class="detail-item">
      <div class="number">869,485</div>
      <div class="region">學習時長</div>
    </div>

    <div class="detail-item">
      <div class="number">100+</div>
      <div class="region">北美外籍老師</div>
    </div>
  </div>

  <div class="button-wrapper">
    <button class="button-green">
      <span>立即免費試堂</span>
    </button>
  </div>
</div>

<div class="trial-experience-wrapper">
  <span class="trial-experience-title">如何免費試堂體驗</span>
  <div class="trial-experience-content">
    <div class="trial-card">
      <div class="trial-image">
        <img src="../../assets/images/grid_1.png" alt="" />
      </div>
      <div class="trial-card-body">
        <span class="tutors-for-students">登記免費試堂 </span>
        <span class="golden-age-info"
          >登記手機後，我們的課程顧問會第一時間與您取得聯系</span
        >
      </div>
    </div>
    <div class="trial-card">
      <div class="trial-image">
        <img src="../../assets/images/grid_2.png" alt="" />
      </div>
      <div class="trial-card-body">
        <span class="tutors-for-students">安排北美外籍老師小班 </span>
        <span class="golden-age-info"
          >在取得聯繫後，會您的孩子安排小班制北美外教試聽課體驗</span
        >
      </div>
    </div>
    <div class="trial-card">
      <div class="trial-image">
        <img src="../../assets/images/grid_3.png" alt="" />
      </div>
      <div class="trial-card-body">
        <span class="tutors-for-students">進入線上課堂 </span>
        <span class="golden-age-info">下載我們的上課APP，開始和外教上課 </span>
      </div>
    </div>
  </div>
  <button class="start-trial-button">
    <span class="start-trial-label">立即免費試堂</span>
  </button>
</div>
