/* You can add global styles to this file, and also import other style files */
// variables.scss
// Define your variables here
$primary-color: #007bff;
$secondary-color: #6c757d;
$font-family: Arial, sans-serif;

// mixins.scss
// Define your mixins here
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// reset.scss
// CSS reset to remove default browser styles
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

@import "styles/font";
@import "styles/site";
@import 'styles/mixins';
// @import 'reset';

// Your custom styles go here
body {
  font-family: $font-family;
  background-color: #f8f9fa;
  color: #333;
}

// media-queries.scss
// Define commonly used media queries
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Usage example:
// @media (min-width: $breakpoint-md) {
//   // Your styles for medium screens
// }

// animations.scss
// Define your animations here

/* Global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  @include default-font-family;
}

img {
  max-width: 100%;
  height: auto;
}

.frame {
  @include flex-center;
  gap: 20px;
}


.common-btn {
  width: 172px;
    padding: 16px 32px;
    cursor: pointer;
    background: #99ca3a;
    border: none;
    border-radius: 16px;
}